**/.git/**
**/.vscode/**
**/.vscode-test/**
**/.a5c/**
**/.github/**
node_modules/**
!node_modules/node-pty/**
!node_modules/jsdom/**
!node_modules/dompurify/**
!node_modules/mermaid/**
!node_modules/tough-cookie/**
**/*.map
*.vsix
src/**
dist/test/**
dist/unit/**
.kanban/**
tsconfig.json
.eslintrc.cjs
.prettierignore
.prettierrc.json
requirements.md
o
.gitignore
